<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="demo">
    <form action="/xxx" @submit.prevent="submit">
        <span>用户名: </span>
        <input type="text" v-model.number="username"><br>
        <input type="text" v-model="username"><br>

        <span>密码: </span>
        <input type="password" v-model="pwd"><br>

        <span>性别: </span>
        <input type="radio" id="female" value="女" v-model="sex">
        <label for="female">女</label>
        <input type="radio" id="male" value="男" v-model="sex">
        <label for="male">男</label><br>

        <span>爱好: </span>
        <input type="checkbox" id="basket123" value="basket" v-model="likes">
        <label for="basket123">篮球</label>
        <input type="checkbox" id="foot123" value="foot" v-model="likes">
        <label for="foot123">足球</label>
        <input type="checkbox" id="pingpang123" value="pingpang" v-model="likes">
        <label for="pingpang123">乒乓</label><br>

        <span>城市: </span>
        <select v-model="cityId">
            <option value="">未选择</option>
            <option v-for="(city, index) in allCitys" :key="city.id">{{city.name}}</option>
        </select><br>
        <span>介绍: </span>
        <textarea rows="10" v-model="info"></textarea><br><br>

        <input type="submit" value="注册">
    </form>
    <h2>{{time|dateToString('YYYY-MM-DD')}}</h2>
</div>

<script type="text/javascript" src="../js/vue.js"></script>
<script type="text/javascript" src="https://cdn.bootcss.com/moment.js/2.22.1/moment.js"></script>
<script type="text/javascript">
    Vue.filter("dateToString", (value, format = 'YYYY-MM-DD HH:mm:ss') => moment(value).format(format));
    new Vue({
        el: "#demo",
        data: {
            username: "scofi",
            pwd: "123",
            sex: "女",
            likes: ['basket', 'foot'],
            allCitys: [{id: 1, name: 'BJ'}, {id: 2, name: 'SS'}, {id: 3, name: 'SZ'}],
            cityId: 'SS',
            info: "woshishabi",
            time: new Date()
        },
        methods: {
            submit() {
                console.log(this.username, this.pwd, this.sex, this.likes, this.cityId, this.info)
            }
        }
    })
</script>
</body>
</html>